# Dirs
node_modules
coverage
.next
.vercel
out
build
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Other
.DS_Store
*.pem
.pnp
.pnp.js
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
